body{
    background-color: rgb(252, 246, 164);
}

.all-countries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    transition: all ease-in 200ms;
    margin: 30px 30px 60px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Arial, Helvetica, sans-serif;
}

.country:hover {
    height: 450px !important;
    width: 350px !important;
    
}

.country img{
    height: 180px;
    width: 255px;
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 20px;
}